<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let dPOST of dataPOST">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{dPOST.avatar}}">
        </ion-avatar>
        {{dPOST.first_name}} {{dPOST.last_name}}
      </ion-item>
      <ion-item>First name : {{dPOST.first_name}} </ion-item>
      <ion-item>Last Name : {{dPOST.last_name}} </ion-item>
      <ion-item>E-mail : {{dPOST.email}} </ion-item>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="toHalDua()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
